@media screen and(min-width:481px) {
body{
    margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    background-color: #fff;
    width: 100%;
    position: fixed; /* ヘッダーを固定 */
    z-index: 30;
}
.logo{
    text-align: right;
    width: 300px;
    height: 100px;
}
.menu{
    background-color: #2d6792;
    display: flex;
    justify-content: space-between;/*アイテム間に均等に空白*/
    
}
.menu a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 12px;
}
}
@media screen and (max-width:480px) {
    body{
        margin: 0 !important;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    .nav {
        position: fixed;
        right: -320px; /* 右から出てくる */
        top: 0;
        width: 300px; /* スマホに収まるサイズ */
        height: 100vh;
        padding-top: 60px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto; /* メニューが多くなったらスクロールできるように */
      }
      .hamburger {
        position: absolute;
        right: 15px;
        top: 8px;
        width: 40px; /* クリックしやすい幅 */
        height: 40px; /* クリックしやすい高さ */
        cursor: pointer;
        z-index: 300;
      }
      .nav_list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .nav_item {
        text-align: center;
        padding: 0 14px;
      }
      .nav_item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #333;
      }
      .nav_item a:hover {
        background-color: #eee;
      }
      .hamburger_border {
        position: absolute;
        left: 11px;
        width: 18px;
        height: 2px;
        background-color: #333;
        transition: all .6s;
      }
      .hamburger_border_top {
        top: 14px;
      }
      .hamburger_border_center {
        top: 20px;
      }
      .hamburger_border_bottom {
        top: 26px;
      }
      .black_bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #333;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
      }
    
      /* 表示された時用のCSS */
      .nav-open .nav {
        right: 0;
      }
      .nav-open .black_bg {
        opacity: .8;
        visibility: visible;
      }
      .nav-open .hamburger_border_top {
        transform: rotate(45deg);
        top: 20px;
      }
      .nav-open .hamburger_border_center {
        width: 0;
        left: 50%;
      }
      .nav-open .hamburger_border_bottom {
        transform: rotate(-45deg);
        top: 20px;
      }
}