body{
    margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
div {
    margin: 0 !important;
    padding: 0 !important;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    background-color: #fff;
    width: 100%;
    position: fixed; /* ヘッダーを固定 */
    z-index: 30;
}
.logo{
    text-align: right;
    width: 300px;
    height: 100px;
}