body{
    width: 700px;
    margin: auto;
}
.question{
    margin: auto;
    width: 300px;
    text-align: center;
    color: #fff;
    background-color: #2d6792;
}
/*１日の流れ*/
/*項目*/
.transfer{
    text-align: center;
    width: 100px;
    height: 50px;
    position: relative;
    top: 150px;
    color: #fff;
    background-color: #2d6792;
}

.start{
    text-align: center;
    width: 100px;
    height: 50px;
    margin: auto;
    color: #fff;
    background-color: #2d6792;
}
.homework{
    text-align: center;
    width: 100px;
    height: 50px;
    position: relative;
    left: 600px;
    color: #fff;
    background-color: #2d6792;
}
.stretch{
    text-align: center;
    width: 100px;
    height: 50px;
    margin: auto;
    color: #fff;
    background-color: #2d6792;
}
.program{
    text-align: center;
    width: 100px;
    height: 50px;
    position: relative;
    color: #fff;
    background-color: #2d6792;
}
.home{
    text-align: center;
    width: 100px;
    height: 50px;
    margin: auto;
    color: #fff;
    background-color: #2d6792;
}
.transfer_home{
    text-align: center;
    width: 100px;
    height: 50px;
    position: relative;
    left: 600px;
    color: #fff;
    background-color: #2d6792;
}
/*線*/
.tra-hr{
    transform: rotate(160deg);
    width: 212px;
    position: relative;
    top: 70px;
    left: 95px;
}
.sta-hr{
    transform: rotate(20deg);
    width: 212px;
    position: relative;
    top: 35px;
    left: 550px;
}
.hom-hr{
    transform: rotate(160deg);
    width: 212px;
    position: relative;
    top: 35px;
    left: 550px;
}
.pro-hr{
    transform: rotate(16deg);
    width: 212px;
    position: relative;
    top: 150px;
    left: 95px;
}
.home-hr{
    transform: rotate(20deg);
    width: 212px;
    position: relative;
    top: 200px;
    left: 95px;
}